DATABASE_NAME=marketplace_db_auth
DATABASE_USERNAME=auth_user
DATABASE_PASSWORD=some_password_123
DATABASE_PORT=5432
DATABASE_URL=postgresql+asyncpg://$DATABASE_USERNAME:$DATABASE_PASSWORD@postgres_auth:$DATABASE_PORT/$DATABASE_NAME
MIGRATION_DATABASE_URL=postgresql+psycopg2://$DATABASE_USERNAME:$DATABASE_PASSWORD@postgres_auth:$DATABASE_PORT/$DATABASE_NAME

JWT_SECRET=some_secret

REDIS_HOST=redis_auth